
$primary-color: #573d2b;
$secondary-color: #a4c4a4;

@import '../scss/components/filmTableList';
@import '../scss/components/filmPreview';
@import '../scss/components/filmItem';
@import '../scss/components/userMessage';
@import '../scss/components/favoritesModal';
@import '../scss/components/favoriteFilm';
@import '../scss/components/layout';

* {
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

button {
    cursor: pointer;
}

.missing-films-message {
    margin: 250px auto;
}