.error-message-modal-box {
    width: 350px;
    background-color: red;
    position: fixed;
    top: 0px;
    left: 0;
    animation: 0.2s ease-in-out 0s 1 messageAnimation;
    border-radius: 0 0 20px 0;
    padding: 10px;
    text-align: center;
}

.success-message-modal-box {
    width: 350px;
    background-color: green;
    position: fixed;
    top: 0px;
    left: 0;
    animation: 0.2s ease-in-out 0s 1 messageAnimation;
    border-radius: 0 0 20px 0;
    padding: 10px;
    text-align: center;
}

@keyframes messageAnimation {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }

}